@import url("css/theme.css");

.wy-nav-content {
    height: 100% !important;
    max-width: 100% !important;  
}

.wy-side-nav-search {
    background-color: #FFD300;
    
}

.wy-side-nav-search>a {
    color:  #002F60;
} 

.wy-menu-vertical {
    color:  #002F60;
} 